<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>Документооборот кафедры</display-name>

	<servlet>
		<servlet-name>MainPage</servlet-name>
		<servlet-class>ad.MainPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainPage</servlet-name>
		<url-pattern>/index.html</url-pattern>
		</servlet-mapping>
		
	<servlet>
		<servlet-name>CurriculumsServlet</servlet-name>
		<servlet-class>ad.CurriculumsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CurriculumsServlet</servlet-name>
		<url-pattern>/curriculums.html</url-pattern>
		</servlet-mapping>
		
	<servlet>
		<servlet-name>CurriculumDisciplinesServlet</servlet-name>
		<servlet-class>ad.CurriculumDisciplinesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CurriculumDisciplinesServlet</servlet-name>
		<url-pattern>/curriculumdisciplines.html</url-pattern>
		</servlet-mapping>
		
	<servlet>
		<servlet-name>DisciplinesServlet</servlet-name>
		<servlet-class>ad.DisciplinesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisciplinesServlet</servlet-name>
		<url-pattern>/disciplines.html</url-pattern>
		</servlet-mapping>
		
	<servlet>
		<servlet-name>SpecialtiesServlet</servlet-name>
		<servlet-class>ad.SpecialtiesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpecialtiesServlet</servlet-name>
		<url-pattern>/specialties.html</url-pattern>
		</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
