<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>Документооборот кафедры</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>jdbc-driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc-url</param-name>
        <param-value>jdbc:mysql://localhost:3306/ad?useUnicode=true&amp;characterEncoding=UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc-user</param-name>
        <param-value>ad_user</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc-password</param-name>
        <param-value>ad_password</param-value>
    </context-param>

    <listener>
        <listener-class>ad.servlets.Initializator</listener-class>
    </listener>
    <listener>
        <listener-class>ad.servlets.DaoContainerManager</listener-class>
    </listener>

    <filter>
        <filter-name>Encoder</filter-name>
        <filter-class>ad.servlets.Encoder</filter-class>
        <init-param>
            <param-name>http-request-encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Encoder</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

    <!-- РЕГИСТРАЦИЯ СЕРВЛЕТОВ ДЛЯ РАБОТЫ С JSP -->

    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>ad.servlets.jsp.MainPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <!-- начало блока описания сервлетов для управления дисциплинами -->
    <servlet>
        <servlet-name>DisciplineListServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.discipline.DisciplineListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisciplineListServlet</servlet-name>
        <url-pattern>/discipline/list.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisciplineEditServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.discipline.DisciplineEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisciplineEditServlet</servlet-name>
        <url-pattern>/discipline/edit.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisciplineSaveServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.discipline.DisciplineSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisciplineSaveServlet</servlet-name>
        <url-pattern>/discipline/save.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisciplineDeleteServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.discipline.DisciplineDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisciplineDeleteServlet</servlet-name>
        <url-pattern>/discipline/delete.html</url-pattern>
    </servlet-mapping>
    <!-- конец блока описания сервлетов для управления дисциплинами -->

    <!-- начало блока описания сервлетов для управления специальностями -->
    <servlet>
        <servlet-name>SpecialtyListServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.specialty.SpecialtyListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialtyListServlet</servlet-name>
        <url-pattern>/specialty/list.html</url-pattern>
    </servlet-mapping>
    <!-- конец блока описания сервлетов для управления специальностями -->

    <servlet>
        <servlet-name>CurriculumsServlet</servlet-name>
        <servlet-class>ad.servlets.CurriculumsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurriculumsServlet</servlet-name>
        <url-pattern>/curriculums.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CurriculumDisciplinesServlet</servlet-name>
        <servlet-class>ad.servlets.CurriculumDisciplinesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurriculumDisciplinesServlet</servlet-name>
        <url-pattern>/curriculumdisciplines.html</url-pattern>
    </servlet-mapping>

    <!-- Специальность -->
    <servlet>
        <servlet-name>SpecialtiesEditServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.specialty.SpecialtiesEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialtiesEditServlet</servlet-name>
        <url-pattern>/editspecialities.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpecialtiesDeleteServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.specialty.SpecialtiesDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialtiesDeleteServlet</servlet-name>
        <url-pattern>/deleteSpecialty.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpecialtiesSaveServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.specialty.SpecialtiesSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialtiesSaveServlet</servlet-name>
        <url-pattern>/saveSpecialty.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpecialtiesViewServlet</servlet-name>
        <servlet-class>ad.servlets.jsp.specialty.SpecialtiesViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialtiesViewServlet</servlet-name>
        <url-pattern>/viewSpecialty.html</url-pattern>
    </servlet-mapping>

    <!-- РЕГИСТРАЦИЯ СЕРВЛЕТОВ ДЛЯ РАБОТЫ С REST -->

    <servlet>
        <servlet-name>DisciplineServlet</servlet-name>
        <servlet-class>ad.servlets.rest.DisciplineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisciplineServlet</servlet-name>
        <url-pattern>/discipline</url-pattern>
    </servlet-mapping>
</web-app>